## Задача 1
* Скачать данные
* Считать данные с помощью pandas
* Вывести на экран первые 5 строк

In [10]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv', parse_dates=['date'])
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1.1 Создать новый признак price_per_ sq_lot, который будет содержать стоимость за один кв. метр общей площади

In [2]:
df['price_per_ sq_lot'] = df['price'] / df['sqft_lot']
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_ sq_lot
id,,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,39.274336
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,18.000000
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,120.800000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,63.118812

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [48]:
df['delta_renovated'] = 0
df.loc[df['yr_renovated'] != 0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.sample(30)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
6058,2056100275,2014-10-06,530000.0,2,1.50,1390,5000,1.0,0,0,...,970,420,1954,0,98116,47.5673,-122.401,1610,5000,0
6002,722079056,2014-10-06,352500.0,4,2.50,2300,219106,1.0,0,0,...,1840,460,1958,0,98038,47.4044,-121.963,2120,123710,0
1509,8562890560,2014-06-26,399000.0,4,3.00,3060,5000,2.0,0,0,...,3060,0,2001,0,98042,47.3786,-122.126,3060,5668,0
8710,1175000110,2014-12-02,506000.0,2,1.00,1060,3588,1.0,0,0,...,960,100,1926,0,98107,47.6721,-122.395,1570,3741,0
3350,6713700100,2014-09-07,401500.0,4,1.00,1790,8400,1.0,0,0,...,1260,530,1954,0,98133,47.7627,-122.353,1470,8400,0
8616,1122069006,2014-07-10,540500.0,3,2.00,2800,185130,1.0,0,0,...,2320,480,1996,0,98038,47.4133,-122.006,2200,72055,0
13249,8649400410,2015-04-17,375000.0,3,1.75,2140,13598,1.5,0,0,...,1620,520,1970,0,98014,47.7139,-121.321,930,10150,0
13321,1237500720,2014-12-26,275000.0,3,2.00,1340,9764,1.0,0,0,...,1340,0,1944,0,98052,47.6786,-122.161,1310,9764,0
13133,5606000120,2015-02-25,906000.0,4,2.50,2480,5000,1.0,0,3,...,1480,1000,1951,0,98105,47.6653,-122.272,2240,6071,0
20863,7658600081,2014-09-19,555000.0,2,2.75,1950,1610,3.0,0,0,...,1950,0,2009,0,98144,47.5925,-122.302,910,1745,0
11198,3352402272,2014-06-11,230000.0,5,2.00,1910,7200,1.0,0,0,...,1110,800,1951,0,98178,47.4975,-122.261,1150,5948,0
6427,4053200285,2014-08-11,725000.0,3,2.50,3410,41022,2.0,0,0,...,3410,0,1990,0,98042,47.3228,-122.080,2150,21429,0
14403,7987401010,2014-07-03,633000.0,4,2.50,2360,10000,1.0,0,3,...,1980,380,1977,0,98126,47.5730,-122.374,2480,5000,0
10896,3260000570,2015-02-10,735000.0,4,3.00,2250,7245,1.0,0,0,...,1250,1000,1963,0,98005,47.6045,-122.169,1960,7245,0
4947,8864000440,2014-09-25,225000.0,3,1.00,900,6099,1.0,0,0,...,790,110,1944,0,98168,47.4807,-122.289,1240,6099,0
15186,4307340130,2014-06-22,374000.0,4,2.50,2580,6260,2.0,0,0,...,2580,0,2004,0,98056,47.4858,-122.185,2160,3600,0
15658,9542830480,2015-05-04,355900.0,3,2.50,2090,3821,2.0,0,0,...,2090,0,2008,0,98038,47.3655,-122.017,2040,4200,0
4621,3886902870,2014-05-27,800000.0,4,2.50,2680,7200,1.0,0,0,...,1380,1300,1952,2013,98033,47.6835,-122.187,1950,8520,61
5548,569000050,2014-07-03,565000.0,4,2.50,2230,8624,1.0,0,0,...,1430,800,1969,0,98052,47.6623,-122.152,1970,8402,0
1731,7883603750,2014-12-09,337000.0,3,1.75,1400,6000,1.0,0,0,...,700,700,1919,0,98108,47.5283,-122.321,1030,6000,0
5356,3629980780,2014-09-18,710000.0,4,2.75,2940,4232,2.0,0,0,...,2940,0,2004,0,98029,47.5529,-121.990,2410,4000,0
12727,9520900230,2014-12-17,642860.0,4,2.75,2520,6398,2.0,0,0,...,2520,0,2014,0,98072,47.7685,-122.159,2520,6398,0
2350,3298201170,2014-11-10,350000.0,3,1.00,940,7811,1.0,0,0,...,940,0,1959,0,98008,47.6195,-122.118,1180,7490,0
10834,871000435,2015-05-09,812000.0,4,2.00,2380,6122,1.0,0,2,...,1310,1070,1949,0,98199,47.6506,-122.405,1810,5202,0
16088,4310703070,2015-04-13,650000.0,6,3.00,2960,5000,1.0,0,0,...,1790,1170,1968,0,98103,47.6971,-122.341,1280,1251,0
5021,9285800345,2014-06-26,320000.0,2,1.00,950,5316,1.0,0,2,...,950,0,1948,0,98126,47.5700,-122.380,1620,6085,0
15183,2326300010,2014-05-20,376000.0,2,1.00,1150,4000,1.0,0,0,...,1150,0,1947,0,98199,47.6575,-122.394,1150,4288,0
15092,2944500470,2014-06-05,257000.0,4,2.75,2330,7642,1.0,0,0,...,1800,530,1990,0,98023,47.2946,-122.370,2320,7933,0
4353,9485750110,2014-09-18,366000.0,3,1.75,1680,6108,1.0,0,0,...,1680,0,1989,0,98055,47.4501,-122.208,2220,5664,0
16799,868000305,2014-06-17,554000.0,4,1.00,1120,7104,1.5,0,0,...,1120,0,1946,0,98177,47.7055,-122.372,1370,7104,0

### 1.3 Создайте признаки года продажи, месяца продажи

In [4]:
df['yr_sale'] = df['date'].dt.year
df['month_sale'] = df['date'].dt.month
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_ sq_lot,yr_sale,month_sale
id,,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1955,0,98178,47.5112,-122.257,1340,5650,39.274336,2014,10
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,1951,1991,98125,47.7210,-122.319,1690,7639,74.288870,2014,12
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,1933,0,98028,47.7379,-122.233,2720,8062,18.000000,2015,2
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1965,0,98136,47.5208,-122.393,1360,5000,120.800000,2014,12
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1987,0,98074,47.6168,-122.045,1800,7503,63.118812,2015,2

### 1.4 Удалите признаки date, zipcode, lat, long

In [5]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_ sq_lot,yr_sale,month_sale
id,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,39.274336,2014,10
6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,74.288870,2014,12
5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,18.000000,2015,2
2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,120.800000,2014,12
1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,63.118812,2015,2

## задача 2
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [6]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
clients = clients.set_index('house_id')
clients

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535
1189000207       2308
6821600300       2866
7137950720       2765
9510920050       1472
6131600255       4236
5428000070       2295
1788800910        939
8100400160       3840
3123049142        280
6306800010         20
5083000375       4332
7920100025       3475
1951600150       4213
809001400        3113
339600110        4809
1622049154       2134
1099600250       2242
8563000110       2068
2768100205       4929
3995700435       1384
8861700030       1589
3303980210       3317
7731100066       2260
8146100580       1727
825069097        1764
3889100029       1611
9524100196       1474

2.1 Присоедините к таблице clients данные по домам через метод join

In [7]:
clients_data = clients.join(df)
clients_data

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_ sq_lot,yr_sale,month_sale
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,105.193076,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,289.062500,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,18.916595,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,40.625000,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,277.618364,2014,10
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,36.944583,2014,6
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,25.598234,2014,12
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,18.167910,2014,10
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,21.176471,2015,4
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,84.000000,2014,12
2768100205,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,198.318686,2014,6
3123049142,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,30.519919,2014,8
3303980210,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,78.454827,2015,4
3889100029,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,77.282702,2014,6
3995700435,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,32.435741,2014,7
5083000375,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,17.840277,2014,10
5083000375,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,24.661559,2015,3
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,93.836374,2015,5
5428000070,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,93.514695,2015,5
6131600255,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,24.350649,2014,12
6306800010,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,52.010486,2014,8
6821600300,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,147.666667,2015,3
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,116.666667,2015,4
7137950720,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,31.825434,2015,3
7731100066,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,109.000000,2014,6
7920100025,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,88.235294,2015,4
8100400160,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,61.274510,2015,4
8146100580,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,100.856955,2014,10
8563000110,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,43.794872,2015,4
8861700030,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,49.635036,2014,12
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,96.405229,2015,2
9510920050,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,42.657096,2014,9
9524100196,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,309.585492,2014,11

2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [11]:
clients_merge_data = clients.merge(df, left_on='house_id', right_on='id')
clients_merge_data

,client_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1459,8965450190,2015-02-18,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,98006,47.5605,-122.117,2700,7734
1,4684,6823100225,2015-04-14,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,98199,47.6435,-122.399,1710,6000
2,3498,5104540330,2015-05-08,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,98038,47.3543,-122.005,3310,7180
3,3942,2131701075,2014-12-04,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,98019,47.7380,-121.983,1410,8300
4,4535,1522700060,2014-06-24,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,98019,47.7344,-121.957,2330,14007
5,2308,1189000207,2014-10-21,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,98122,47.6131,-122.297,1250,3136
6,2866,6821600300,2015-03-18,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,98199,47.6472,-122.393,2000,6000
7,2765,7137950720,2015-03-04,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,98092,47.3284,-122.171,2210,7028
8,1472,9510920050,2014-09-02,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,98075,47.5950,-122.016,2980,15438
9,4236,6131600255,2014-12-22,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,98002,47.3230,-122.216,1250,8316
10,2295,5428000070,2015-05-11,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,98198,47.3574,-122.318,2160,14496
11,939,1788800910,2014-10-20,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,98023,47.3262,-122.342,1160,9000
12,3840,8100400160,2015-04-13,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,98052,47.6386,-122.110,2050,11448
13,280,3123049142,2014-08-05,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,98166,47.4326,-122.341,2450,16715
14,20,6306800010,2014-08-11,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,98030,47.3519,-122.197,2574,14446
15,4332,5083000375,2014-10-27,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,98198,47.4105,-122.295,1330,9529
16,4332,5083000375,2015-03-19,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,98198,47.4105,-122.295,1330,9529
17,3475,7920100025,2015-04-27,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,98115,47.6787,-122.301,920,5100
18,4213,1951600150,2015-04-08,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,98032,47.3717,-122.297,1070,8750
19,3113,809001400,2014-09-22,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,98109,47.6351,-122.352,1710,3600
20,4809,339600110,2014-09-23,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,98052,47.6825,-122.097,1300,3823
21,2134,1622049154,2014-12-15,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,98198,47.3987,-122.300,2000,10454
22,2242,1099600250,2014-12-02,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,98023,47.3036,-122.377,1600,6400
23,2068,8563000110,2015-04-24,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,98008,47.6205,-122.102,1820,9840
24,4929,2768100205,2014-06-25,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,98107,47.6696,-122.372,1520,1438
25,1384,3995700435,2014-07-02,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,98155,47.7381,-122.302,1310,8169
26,1589,8861700030,2014-12-12,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,98052,47.6888,-122.126,2380,10125
27,3317,3303980210,2015-04-27,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,98059,47.5189,-122.147,3940,14212
28,2260,7731100066,2014-06-12,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,98105,47.6708,-122.297,1680,4000
29,1727,8146100580,2014-10-20,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,98004,47.6094,-122.194,1380,8918
30,1764,825069097,2014-06-19,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,98053,47.6680,-122.063,2550,42625
31,1611,3889100029,2014-06-17,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,98033,47.6673,-122.176,2620,8895
32,1474,9524100196,2014-11-17,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,98103,47.6950,-122.343,690,1059

## Задача 3
Составьте несколько сводных таблиц
### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [13]:
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [14]:
df.groupby('condition').agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [23]:
df.pivot_table(index='waterfront', columns='view', aggfunc='count', values='id', fill_value=0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

3.4 Каких домов в зависимости от этажности и количества спален больше?

In [37]:
pd.crosstab(index = df['bedrooms'],
            columns = df['floors'])

floors     1.0  1.5   2.0  2.5  3.0  3.5
bedrooms
0            4    0     6    0    2    1
1          162   21    12    1    3    0
2         1951  182   497    5  123    2
3         5455  786  3118   56  405    4
4         2383  698  3682   58   61    0
5          605  185   775   23   13    0
6          104   30   119   14    5    0
7            9    7    19    2    1    0
8            5    1     6    0    0    1
9            0    0     4    2    0    0
10           1    0     2    0    0    0
11           0    0     1    0    0    0
33           1    0     0    0    0    0

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дом

In [47]:
df.groupby(['condition', 'grade']).agg({'price': 'median'}).unstack('condition').fillna(0)

              price
condition         1          2          3          4          5
grade
1          142000.0        0.0        0.0        0.0        0.0
3               0.0   280000.0    75000.0        0.0   262000.0
4          150000.0   145000.0   205000.0   238525.0        0.0
5          190000.0   180000.0   234475.0   229975.0   227450.0
6          255000.0   235000.0   265000.0   295000.0   285475.0
7          403500.0   305000.0   357500.0   390000.0   456000.0
8          932500.0   429000.0   485000.0   571250.0   696000.0
9               0.0   715000.0   689000.0   823500.0  1078000.0
10              0.0  1752500.0   890000.0  1030000.0  1650000.0
11              0.0        0.0  1209500.0  1685000.0  2050000.0
12              0.0        0.0  1807500.0  2125000.0  1990000.0
13              0.0        0.0  2888000.0  5750000.0        0.0